body {
  background: black;

}

.vcard {
  background: white;
  border-radius: 15px;
  font-family: Verdana;
  font-size: 12px;
  width: 500px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
}
